<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>FDI_Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>FDI_Controller.Login</servlet-class>
        <init-param>
            <param-name>adminFile</param-name>
            <param-value>adminFile.fdi</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>IngresoFacturado</servlet-name>
        <servlet-class>FDI_Controller.IngresoFacturadoCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>FDI_Controller.Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteCtrl</servlet-name>
        <servlet-class>FDI_Controller.ClienteCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoParserUploadServlet</servlet-name>
        <servlet-class>FDI_Controller.DemoParserUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pruebas</servlet-name>
        <servlet-class>FDI_Controller.Pruebas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IvaConfig</servlet-name>
        <servlet-class>FDI_Controller.IvaConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoFacturado</servlet-name>
        <url-pattern>/IngresoFacturado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteCtrl</servlet-name>
        <url-pattern>/ClienteCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoParserUploadServlet</servlet-name>
        <url-pattern>/DemoParserUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pruebas</servlet-name>
        <url-pattern>/Pruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IvaConfig</servlet-name>
        <url-pattern>/IvaConfig.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
