/* 
    Document   : agregarFactura
    Created on : 12/08/2011, 06:00:46 PM
    Author     : Pedro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



.main_container{
    margin:auto;
    /*width:75%;*/
	width:960px;
    border:0.1em solid;    
    position:relative;
}



.form_box_der{
 position:relative;
 float:left;
 text-align:left;
 display:block; 
 width: 15em;
 
 margin: 0.1em;
 min-height: 2em;
 
 
 
}
.form_box_der div{
    padding:0;
    margin-right:5.5em;
    float:right;
}

.form_box_izq{
 position:relative; 
 float:left;
 display:block;
 width: 7em;
 text-align:left;
 
 margin: 0.1em;
 min-height: 2em;
 clear:left;
}

.form_fila{
	
	width:50em;
  float:left;
  clear:left;
}


.formulario{
     padding: 1em;
     position:relative;
     display:block;
     margin-left:3em;
	 margin-right:3em;
 }

.ajuste{
    clear:both;
 }


.main_container h1{
    text-align:center;

}
.main_container h2{
    margin:0;
    margin-left:2em;
    float:left;
    font-size:1em;
}
.main_container h3{
    text-decoration:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size:0.6em;
}



.form_fila a{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.retencion {
	margin:auto;
	margin-top:0.5em;
	margin-bottom:0.5em;
	position:relative;
	display:block; 	
	width:52em;
	
}

.form_fila_der{
	position:relative;
	display:block;
	margin-left:0.5em;
	margin-right:0.5em;
	float:right;	
}

.retencion  table{
	border-collapse:collapse;
	position:relative;        
    margin:1em auto;
    width:98%;
}

.retencion  td,
.retencion th{
	border:0.1em solid;   
	text-align:center;
}



legend{
	font-size:0.8em;	
}

.a_retencion{
	text-decoration:none;	
	margin-top:0.5em;
	margin-bottom:0.5em;
	width:52em;
	position:relative;
	display:inline-block;	
}

#div_otros_ingreso, #div_otros_egreso{
	visibility:hidden;
}

fieldset{
	padding-top:1em;
}

.form_fila .form_fila_der{
	float:left;
}