#content-container{
    border: solid;
}

.description{
	margin:auto;
  position: relative;
    display:block; 	
	width: 100%;
    
    margin-left: 10%;
}



#taxable-year{
    position: relative;
    width: 90%;
    margin-left: 10%;
    float: left;
}

.table{
	margin:auto;
    position: relative;
    width: 100%;
    margin-left: 10%;
    float: left;
}

.option-buttons{
    position: relative;
    width: 100%;
    margin-left: 35%;
    float: left;
}

