#content-container{
    border: solid;
}

#description{
    position: relative;
    width: 100%;
    float: left;
    margin-left: 10%;
}

#iva-config{
    position: relative;
    width: 75%;
    float: left;
    margin-left: 10%;
}

#iva-table{
    position: relative;
    width: 100%;
    margin-left: 0%;
    float: left;
}

#option-buttons{
    position: relative;
    width: 100%;
    margin-left: 35%;
    float: left;
}

#submit-form-iva-config{
    display:none;
}